.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grupo-botones{
  width: 50%;
  margin: 0 auto;
}

.boton {
  display: block;
  font-size: 1em;
  width: 40%;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color:#252628;
  font-weight: normal;
  margin: 5px auto;
  margin-bottom: 15px;
  cursor: pointer;
}

.boton-eliminar {
  display: block;
  font-size: 1em;
  width: 50%;
  height: 2em;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(210, 50, 50);
  font-weight: normal;
  cursor: pointer;
}
.boton-restar, .boton-agregar{
  display: block;
  font-size: 1em;
  width: 15%;
  height: 2em;
  margin: auto;
  border: none;
  border: 5px;
  color: #222;
  background-color: #cccc;
  cursor: pointer;
}
.boton-restar:hover, .boton-agregar:hover{
  background-color: #222;
  color: #fff;
  transition: .2s;
}
.boton-eliminar:active, .boton:active{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20), 
  3px 3px 25px  rgba(0, 0, 0, 0.20);
  transform: translate(0em, 0.1em);
}
.boton-restar:active, .boton-agregar:active{
  transform: translate(0em, 0.1em);
  background-color: #cccc;
}
